body {
	font-size: 14px;
	font-family: "PTSans", "Arial Narrow", sans-sefir;
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.714;
}

.subtitle, .white-subtitle, .title {
	font-size: 12.757px;
	font-family: "PTSans";
	font-weight: bold;
	line-height: 1.4;
}

.subtitle, .title {
	color: rgb(0, 0, 0);
}

.white-subtitle{
	color: rgb(247, 244, 241);
}

.caption {
  font-size: 14px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.286;
 }
