body {
	font-size: 14px;
	line-height: 1.714;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-family: "PTSans", "Arial Narrow", sans-sefir;
}

.subtitle, .features-title {
	font-size: 12.757px;
	line-height: 1.4;
	font-weight: bold;
	font-family: "PTSans";
}

.subtitle {
	color: rgb(0, 0, 0);
}

.features-title {
	color: rgb(247, 244, 241);
}